/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  /* display: flex;
  place-content: center;
  align-items: center; */
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.card {
  border-width: 4px;
  border-style: double !important;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.308);
  cursor: pointer;
  transition: all .15s ease;
}

.card-img {
  height: 100px;
  object-fit: cover;
  object-position: center;
}